
.foot{
   background: #0f0e0f; 

}
footer {
  position: relative;
 height: 150px;
    color: white;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-top: auto;
  }
  
  .midFooter {
display: block;
font-size: 1.5rem;

color: white;
    text-align: center;
  }
  
  .midFooter > p {
    max-width: 60%;
    margin: 1vmax auto;
  }
  
  .rightFooter,.leftFooter {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightFooter{
    margin-left: 25rem;
  }
  .leftFooter {
    margin-left: -15rem;

  }
  .rightFooter > h4 , .leftFooter > h4 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0.5vmax;

  }
  .rightFooter > a, .leftFooter > a {
    text-decoration: none;
    color: white;
    margin: 0.5vmax;
  }
  @media screen and (max-width: 700px) {
    footer {
      font-size: 1.2rem;
    }
  }
 